apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    basicAuth: false
    isDefault: true
    version: 1
    editable: true
    jsonData:
      server: clickhouse
      port: 8123
      username: default
      password: ""
      database: default
      secure: false